* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
    font-size: calc(100vw / 1920 * 10);

    @media(max-width: 1200px) {
        font-size: calc(100vw / 960 * 10);
    }

    @media(max-width: 959px) {
        font-size: calc(100vw / 640 * 10);
    }

    @media(max-width: 639px) {
        font-size: calc(100vw / 480 * 10);
    }

    @media(max-width: 479px) {
        font-size: calc(100vw / 320 * 10);
    }

    /* @media(max-width: 320px) {
        font-size: calc(100vw / 320 * 10);
    } */
}

body {
    position: relative;
    z-index: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 32rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 500;
    @extend %vertical-align;
    padding: 6rem 0;

    @media(max-width: 1200px) {
        height: auto;
        padding: 9rem 0;
    }

    @media(max-width: 959px) {
        padding-bottom: 0;
        padding-top: 6rem;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 78rem;
        height: 100%;
        background-color: $gray-bg;

        @media(max-width: 1200px) {
            width: 32rem;
        }

        @media(max-width: 959px) {
            display: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

select,
button,
input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

input {
    cursor: default;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}